<br>
<br>
<div class="container">
  <div class="row">
    <div class="text-center">
        <%= link_to "home", cocktails_path, class: "btn btn-primary" %>
        <%= simple_form_for [@cocktail, @dose] do |f| %>
        <%= f.input :ingredient_id, collection: Ingredient.all, as: :select %>
        <%= f.input :description %>
        <%= f.submit "ajouter une dose", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
